<div id="aboutus" v-cloak>

      <!-- ######################################################## About Us ##############################################################-->
      <section>
        <div class="container-fluid alignmentTest bg-light" data-aos="fade-up">
            <div class="container p-5">
                <h2 class="mb-5 text-center">About Us</h2>

                <p class="text-center">
                    Hyp-K International Trading (Pvt) Ltd was established in 2017 under laws of Registrar of Companies in Sri Lanka. (Reg # PV 120849)
                </p>

                <p class="text-center">
                    We are a team of over 20Plus years of International and Local experience in Trading, Logistics, Imports and Exports. We create opportunities in to global business transactions with the highest level of commitment, Integrity and transparency
                </p>
            </div>
        </div>
    </section>

        <!-- ############################################# #Vision/Mission/Values #####################################################-->
        <section>
            <div class="container-fluid">
                <div class="container p-5">
                    <h6 class="text-center fw-bold">Mission</h6>
                    <p class="text-center mb-4">We strive for your success.</p>

                    <h6 class="text-center fw-bold">Vision</h6>
                    <p class="text-center mb-4">Global one stop partner for your needs</p>

                    <h6 class="text-center fw-bold">Values</h6>
                    <p class="text-center mb-4">Integrity - what we say, do & think</p>
                </div>
            </div>
            <img src="images/middle_banner_image.jpg" class="d-block w-100" />
        </section>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
