<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div id="leisure" v-cloak>

    <!-- ######################################################## Leisure and Tours ##############################################################-->
    <section>
      <div class="container-fluid  bg-light">
          <div class="container">
              <h1 class="text-center mb-5 p-5">Leisure and Tours</h1>

              <p class="text-center">We can design unique Sri Lankan and Indonesian tours to suit your requirements as
                  our tours are all tailor made.</p>

              <p class="text-center">We combine your ideas with our local knowledge and experience to help make your
                  tropical dream vacation a reality.</p>

              <p class="text-center">As per your wishes we will arrange the best hotels and most visited tourist
                  attractions, beaches, wellness packages, Golf Packages, water sports locations, the most
                  breathtaking train journeys ect exploring the beauty of both Sri Lanka and Indonesia.</p>

              <ul>
                  <li>Wildlife and Safari</li>
                  <li>Golf</li>
                  <li>Pilgrimage</li>
                  <li>Beach</li>
                  <li>Nature</li>
              </ul>

          </div>
      </div>
  </section>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
