<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div id="partnerships" v-cloak>

     <!-- ######################################################## Leisure and Tours ##############################################################-->
     <section>
      <div class="container-fluid  bg-light">
          <div class="container p-5">
              <h1 class="text-center mb-5 p-5">Partnerships</h1>
              <p class="text-center">
                  HYP-K International Trading is your trusted partner in marketing and agency representation.
              </p>

              <p class="text-center">
                  As Sri Lanka is an emerging market for many potential businesses, we are looking for international partners who are keen to promote their products and services in Sri Lanka.
              </p>

              <p class="text-center mb-5">
                  We may work for you as a country regional partner, agent in return you will benefit from our local knowledge, Specialist marketing advice and quick hazel free startups.
              </p>
          </div>
      </div>
  </section>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
