<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div id="retails" v-cloak>

      <!-- ######################################################## Retail ##############################################################-->
      <section>
        <div class="container-fluid  bg-light">
            <div class="container p-5">
                <h1 class="text-center p-5 mb-5">Retail</h1>

                <p class="text-center">
                    With our vast experiences and knowledge in retail we are in process of creating our own Online platform which will definitely help local and international consumers to purchase various products and suppliers to showcase thier products.
                </p>

                <p class="text-center">
                    With fast phase of e-commerce and the future of online retailing we promise that all our consumers and suppliers are to have a hazel free experience with HyP-K.
                </p>

                <p class="text-center">
                    Will have above for the time and change later once we progress.
                </p>

                <ul >
                    <li>Clothing</li>
                    <li>Hand Craft</li>
                    <li>Pottery</li>
                    <li>Dry Food</li>
                </ul>
            </div>
        </div>
    </section>
  
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
