<div id="services" v-cloak>
    <!-- ######################################################## Detail area ##############################################################-->
    <section>
      <div class="container-fluid bg-light" >
          <div class="container p-5">

              <h2 class="text-center mb-5" data-aos="fade-up">Services</h2>
              <!-- Trading -->
              <div class="row mb-3" >
                  <div class="col-md-5 px-5">
                      <img src="images/trading.png" class="img-fluid w-100 card-image" data-aos="fade-up"/>
                  </div>
                  <div class="col-md-7 px-5" data-aos="fade-up">
                      <h6 class="mb-3">TRADING</h6>
                      <p class="text-justify">
                          HYP-K International Trading (PVT) Ltd is specialized in International Trading, Imports and Exports.
                      </p>

                      <p class="text-justify">
                          We are a team of over 20Plus years of International and Local experience in Trading, Logistics, Import and Exports. We create opportunities in to global business transactions with highest level of commitment, Integrity and transparency.
                      </p>

                      <div class="d-flex flex-column align-items-end">
                          <a href="/tradings" type="button" class="btn btn-sm btn-hypk-sm">Read more</a>
                      </div>
                  </div>
              </div>

              <!-- Leisure and Tours -->
              <div class="row mt-5 mb-3" >
                  <div class="col-md-5 px-5" data-aos="fade-up">
                      <img src="images/leisure.png" class="img-fluid w-100 card-image"/>
                  </div>
                  <div class="col-md-7 px-5" data-aos="fade-up">
                      <h6 class="mb-3">LEISURE AND TOURS</h6>
                      <p class="text-justify">
                          We can design unique Sri Lankan and Indonesian tours which suits your requirements. As our tours are all tailor made.
                      </p>

                      <p class="text-justify">
                          We combine your ideas and with our local knowledge and experience to help you create your own tours exactly to your requirements.
                      </p>

                      <div class="d-flex flex-column align-items-end">
                          <a href="/leisure" type="button" class="btn btn-sm btn-hypk-sm">Read more</a>
                      </div>
                  </div>
              </div>

              <!-- Partnership -->
              <div class="row mt-5 mb-3" >
                  <div class="col-md-5 px-5" data-aos="fade-up" data-aos="fade-up">
                      <img src="images/partnerships.png" class="img-fluid w-100 card-image"/>
                  </div>
                  <div class="col-md-7 px-5" data-aos="fade-up" data-aos="fade-up">
                      <h6 class="mb-3">PARTNERSHIPS</h6>
                      <p class="text-justify">
                          HYP-K International Trading is your trusted partner in marketing and agency representation.
                      </p>
                      <p class="text-jusfify">
                          Sri Lanka is an emerging market for many potential business and we are looking for international partners who wants to promote their products and services in Sri Lanka.
                      </p>
                      <div class="d-flex flex-column align-items-end">
                          <a href="/partnerships" type="button" class="btn btn-sm btn-hypk-sm">Read more</a>
                      </div>
                  </div>
              </div>

              <!-- Retail -->
              <div class="row mt-5 mb-3" >
                  <div class="col-md-5 px-5" data-aos="fade-up">
                      <img src="images/retails.png" class="img-fluid w-100 card-image"/>
                  </div>
                  <div class="col-md-7 px-5" data-aos="fade-up">
                      <h6 class="mb-3">RETAIL</h6>
                      <p class="text-justify">
                          Our vast experience in Retail we are in process of creating our own Online platform which helps local and international consumers to purchase various products. Also suppliers to showcase thier products.
                      </p>
                      <p class="text-justify">
                          With fast phase of e-commerce and the future of online retailing enable consumers and suppliers to have hazel free experience with HyP-K.
                      </p>
                      <div class="d-flex flex-column align-items-end">
                          <a href="/retails" type="button" class="btn btn-sm btn-hypk-sm">Read more</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
