<div id="trading" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/trading.less</em>, <em>assets/js/pages/trading.page.js</em>, and <em>api/controllers/view-trading.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
