<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div id="tradings" v-cloak>

      <!-- ######################################################## Content ##############################################################-->
      <section>
        <div class="container-fluid  bg-light">
            <div class="container">
                <h1 class="text-center mb-5 pt-5">Trading</h1>
                <p class="text-center">HYP-K International Trading (PVT) Ltd is specialized in International Trading,
                    Imports and Exports.</p>
                <p class="text-center">We are a team of over 20Plus years of International and Local experience in Trading,
                    Logistics, Import and Exports. We create opportunities in to global business transactions with highest
                    level of commitment, Integrity and transparency.</p>
                <p class="text-center">We locate your providers, source products and get you the best rates and costs,
                    overlook the production and arrange to have your products delivered on time without compromising the
                    quality.</p>
    
                <div class="row p-5">
                    <div class="col-md-3 mb-2">
                        <p>Coconut based Products,</p>
                            <ul>
                                <li>Edible Coppara</li>
                                <li>Ekel</li>
                                <li>Virgin Coconut Oils</li>
                                <li>Fiber</li>
                                <li>Shells</li>
                            </ul>
                    </div>
    
                    <div class="col-md-3 mb-2">
                        <p>Healthy Rice Products,</p>
                            <ul>
                                <li>Whole Grain</li>
                                <li>red fragrant</li>
                                <li>White Basmati</li>
                                <li>Many other varieties</li>
                            </ul>
                    </div>
    
                    <div class="col-md-3 mb-2">
                        <p>Spices</p>
                            <ul>
                                <li>Cinnamon</li>
                                <li>Cardamom</li>
                                <li>Cloves</li>
                                <li>Nutmeg</li>
                                <li>Black Pepper</li>
                            </ul>
                    </div>
    
                    <div class="col-md-3 mb-2">
                        <p>Personal Protection Products</p>
                            <ul>
                                <li>Face masks(disposable/washable)</li>
                                <li>Nitrile Gloves (none powder)</li>
                                <li>Hand Sanitizer</li>
                                <li>Hazmat suits</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ################################################################# Image section #####################################################################-->
    <section>
        <div class="container-fluid ">
            <div class="container p-5">
                <div class="row mt-5">
                    <div class="col-md-3">
                        <img src="images/cocnut.jpg" class="img-fluid mb-2"/>
                    </div>
        
                    <div class="col-md-3">
                        <img src="images/rice.jpg" class="img-fluid mb-2"/>
                    </div>
        
                    <div class="col-md-3">
                        <img src="images/spices.jpg" class="img-fluid mb-2"/>
                    </div>
        
                    <div class="col-md-3">
                        <img src="images/protection.jpg" class="img-fluid mb-2"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
